@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Poppins:wght@200&display=swap");

h1 {
  font-family: "Exo 2", sans-serif;
}

.formContainer {
  color: white;
  background-color: #293e5e;
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
